@model  IEnumerable<Category>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="category.html" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
    <div class="dropdown-menu" aria-labelledby="dropdown04">
        @foreach (var category in Model)
        {
            <a class="dropdown-item" asp-controller="Blog" asp-action="List" asp-route-id="@category.Id">@category.Name</a>
        }
    </div>
</li>