@model  RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row mb-4 mt-3">
        <div class="col-md-6">
            <h1>Log <b>In</b></h1>
        </div>
    </div>
    
    <div class="row blog-entries">
        <div class="col-md-12 col-lg-8 main-content">
            <form asp-controller="Account" asp-action="Register" method="post">
                <div class="text-danger" asp-validation-summary="ModelOnly">
                </div>
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control ">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control ">
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control ">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <label asp-for="EmailConfirm"></label>
                        <input asp-for="EmailConfirm" class="form-control ">
                        <span asp-validation-for="EmailConfirm" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control ">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 form-group">
                        <label asp-for="PasswordConfirm"></label>
                        <input asp-for="PasswordConfirm" class="form-control ">
                        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12 text-left">
                        <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-send fa-fw"></i> Login</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- END main-content -->
        @await Component.InvokeAsync("Sidebar")
        <!-- END sidebar -->
    </div>
</div>

